nav{
    background-image: linear-gradient(to top, rgb(189, 189, 69), rgb(19, 17, 17));
  font-family: 'IM Fell Great Primer', serif;
  border-style: none none solid none;
  border-radius: 0px;
  border-width: 1.5px;
}

.navbar{
    padding: 20px;
}

.iconify{
    color: black;
}