main {
  background-color: rgba(217, 217, 217, 55%);
  padding: 170px;
  font-family: 'IM Fell Great Primer', serif; }
  main .carrousil {
    padding: 20px; }
  main .imgNos {
    padding: 10px; }
  main .artCompra {
    padding: 40px;
    color: color black; }
  main .ubiContacto {
    padding: 30px; }
  main .listIndex {
    padding: 20px; }
  main .artNos {
    padding: 20px; }
  main .imgGuns {
    padding: 20px; }
  main .formContact {
    padding: 30px; }
  main .tituloTienda {
    display: flex;
    justify-content: center; }
  main .tarjetas {
    margin: 80px; }
  main .disImg {
    margin: 40px; }
  main .card, main .card-primaria, main .card-secondaria, main .card-terciaria, main .card-cuaternaria {
    max-width: 540px; }
  main .btn {
    font-family: 'IM Fell Great Primer', serif; }
  main h3 {
    -webkit-text-stroke: 2px white;
    color: black; }
  main .textCarro {
    -webkit-text-stroke: 1px white;
    color: black; }

footer {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  padding: 25px;
  border-style: solid none none none;
  border-radius: 0px;
  border-width: 1.5px;
  font-family: 'IM Fell Great Primer', serif;
  background-image: linear-gradient(to bottom, #bdbd45, #131111); }

nav {
  background-image: linear-gradient(to top, #bdbd45, #131111);
  font-family: 'IM Fell Great Primer', serif;
  border-style: none none solid none;
  border-radius: 0px;
  border-width: 1.5px; }

.navbar {
  padding: 20px; }

.iconify {
  color: black; }

* {
  margin: 0;
  padding: 0; }

.bkgImg {
  background-image: url(../img/fondo-de-web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.btn-primary {
  background-color: black; }

.btn-secondary {
  background-color: #c4c408; }

.card, .card-primaria, .card-secondaria, .card-terciaria, .card-cuaternaria {
  padding: 15px;
  border: 0; }

.card-primaria {
  background-color: yellow; }

.card-secondaria {
  background-color: aqua; }

.card-terciaria {
  background-color: brown; }

.card-cuaternaria {
  background-color: springgreen; }

.iframeContact {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center; }
